* {
	margin: 0;
	padding: 0;	
}

body {
	font: 16px Arial;
}

.row {
	width: 950px;
	margin: 0 auto;
}

.row::after {
	content: "";
	display: block;
	clear: both; 
}

.btn {
	display: inline-block;
	padding: 10px 25px;
	font-size: 15px;
	color: #FFF;
	transition: background 300ms linear;
	border-radius: 5px;
	text-decoration: none;
}

.btn-principal {
	background: #337ab7;
}

.btn-secundario {	
}

.btn-principal:hover {
	background: #286090;
}

.btn-block {
	display: block;
	width: 100%;
}

header {
	background-color: #4C5B5C;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	
}

header ul {
	padding: 0;
	margin: 0 auto;
	list-style: none;
	width: 600px;
	background-color: green;
}

header ul li {
	padding-bottom: 10px;
	position: relative;
	float: left;
}

header ul li a {
	padding: 10px 30px;
	text-decoration: none;
	color: white;
	line-height: 50px;
	font-size: 14px;
}

header ul li a:hover {
	border-bottom: 2px solid white;
}

img {
	width: 100%;
	height: auto;
}

.title {
	text-transform: uppercase;
	text-align: center;
	font-weight: normal;
	width: 500px;
	margin: 50px auto;
	font-size: 2.5em;
}

.title::after {
	content: "";
	display: block;
	width: 40%;
	height: 2px;
	background-color: red;
	margin: 10px auto;
}

.section {
	padding: 30px 0;
	border-bottom: 1px solid #ccc;
}
#quemsomos h3 {
	font-weight: normal;
	margin: 20px 0;
}

.coluna {
	width: 31%;
	margin: 1%;
	float: left;
	box-sizing: border-box;
}

.coluna h3 {
	padding: 10px 0;
	font-weight: normal;
}

.coluna p {
	padding: 10px 0;
	text-align: justify;
}

.coluna:first-child{
	margin-left: 0px;
}

.coluna:last-child{
	margin-right: 0px;
}

#exercicios .coluna {
	width: 47%;
	margin-bottom: 30px;
}

.group-form{
	padding: 10px 0;
}

.group-form label {
	font-weight: bold;
	display: block;
	padding: 5px 0;
}

.group-form input, 
.group-form textarea {
	width: 100%;
	padding: 7px;
	border-radius: 5px;
	outline: none;
	border: 1px solid #ccc;
}

#localizacao iframe {
	width: 100%;
	margin-top: 20px;

} 

footer {
	background-color: #4C5B5C;
	width: 100%;
	padding: 60px 0px;
	color: white;
}
